html
    head
        title= title
        style(type="text/css").
            #background {
                position:fixed;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
                z-index:-1;
            }
            body{
                color : red;
            }
    body
        p#nbRequests= nbRequests
        img(id="background" src= backgroundSrc)
        p Key :
        br
        input(type="text" name="key" id="key" value="")
        br
        p A :
        br
        input(type="text" name="A" id="A" value="ATCG")
        br
        p B :
        br
        input(type="text" name="B" id="B" value="GCTA")
        br
        br
        input(type="submit" value="Submit" onClick="sendRequest()")
        div(id="content")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script.
            function sendRequest(){
                console.log('ici')
                console.log($('#key').val())
                $.get('/'+$('#key').val()+'/distance/'+$('#A').val()+'/'+$('#B').val(), function(res,err){
                    if(err !== "success"){
                        alert("Erreur dans la requête")
                    }else{
                        if(res.erreur){
                            alert(res.erreur)
                        }else{
                            $('#content').append('<ul><li>A: ' + res.A + '</li><li>B: ' + res.B + '</li><li>distance: ' + res.distance + '</li></ul><button type="button" onclick="efface()">Clear</button>');
                        }
                    }
                })
            }
            function efface(){
                $('#content').remove();
            }