html
    head
        title= title
        style(type="text/css").
            #background {
                position:fixed;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
                z-index:-1;
            }
            body{
                color : red;
            }
    body
        p#nbRequests= nbRequests
        img(id="background" src= backgroundSrc)
        a#formClient(href = formClient) Interface Client
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script.
            setInterval(function () {
                $.get("/nbRequests", function (data) {
                    $('#nbRequests').text('Nombre de requêtes : ' + data)
                });
            }, 30000);
